*{
    margin: 0;
    
}

.img-logo{
    width: 80px;
    height: 80px;
    margin: 15px;
}

header{
    background-color: rgb(15, 15, 15) ;
    margin-bottom: 20px;
    display: flex;

}

.mm{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: #ffffff;
}

.bb{
    margin: 30px;
    text-decoration: none;
    font-size: 28px;
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 35px;
}


section{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: center;
    background-color: rgb(15, 15, 15);
    margin: 70px;
    border: darkgreen dashed  10px;
}

article{
    width: 22%;
    text-align: center;
    margin: 15px;
    background-color: #ffffff;
    width: 220px;
    height: 340px;
    border: darkgreen solid 5px;
}

article p{
    color: #000000;
    
}


.logo{
    color: white;
    position: relative;
    top: 10px;
    font-size: 80px;
}

footer{
    background-color: rgb(15, 15, 15) ;
    display: flex;
    
}

.buttom{
    text-decoration: none;
    color: #ffffff;
    margin: 40px;
    font-size: 22px;
    margin-left: 90px;
}

div{
    display: flex;
    position: relative;
    left: 150px;
}

.h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.text{
   text-align: center;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 16px;
   font-size: 16px;
}

.sec{
    border: none;
    background-image: -moz-linear-gradient(none);
    display: block;
    position: absolute;
}

.image{
   position: relative;
   left: 300px;
   width: 950px;
   height: 500px;
}

.ul{
    position: relative;
    left: 70px;
}

article img{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.k{
    height: 250px;
}

nav a:visited{
    color: darkgreen;
}

nav a:hover{
    color: darkgreen;
}

footer a:hover{
     color: greenyellow;
}

.p{
    margin: 15px;
    border: darkgreen solid 15px;
    margin-left: 70px;
}

.p p{
    color: white;
    padding: 15px;
}

.p h2{
    color: #ffffff;
}

.p ul{
    color: #ffffff;
}

.con{
    margin-bottom: 20px;
}

